<section class="container">
  <h1>
    ember-data-bootstrap3-forms
    <img src="https://badge.fury.io/js/ember-data-bootstrap3-forms.svg" alt="ember-data-bootstrap3-forms npm"/>
  </h1>
</section>

{{!--
<section class="container">
  <h2><code>\{{hidden-submit}}</code> Button</h2>

  <h3>Will Not Submit On Enter</h3>
  {{cannot-submit-form}}
</section>
--}}

<section class="container">
  <h2>A Simulated Model With Errors</h2>
  <p><em>Assume the following for these examples...</em></p>

  <pre>// ----------------------------------------------------------------------- app/models/demo-model.js
import DS from 'ember-data';

export default DS.Model.extend({
  anotherString: DS.attr('string')
  someBoolean: DS.attr('boolean'),
  someNumber: DS.attr('number'),
  someString: DS.attr('string')
});

// ----------------------------------------------------------------------- app/routes/some-route.js
import Ember from 'ember';

export default Ember.Route.extend({
  /** For this demo we've hard-coded errors into each of the model's fields */
  model() {
    const demoModel = this.get('store').createRecord('demo-model');
    demoModel.get('errors').add('someBoolean', 'An error message about the someBoolean attribute');
    demoModel.get('errors').add('someNumber', 'An error message about the someNumber attribute');
    demoModel.get('errors').add('someString', 'An error message about the someString attribute');
    return demoModel;
  }
});
</pre>
  <h2>Model Errors Alert</h2>

  <h3>Show All Errors From A Model</h3>
  {{demo-errors-alert model=model}}

  <h3>Show All Errors From A Model As Warning</h3>
  {{demo-errors-alert-warning model=model}}

  <h3>Exclude Some Errors From A Model</h3>
  {{demo-errors-alert-excludes model=model}}

  <h3>Include Specific Errors From A Model</h3>
  {{demo-errors-alert-includes model=model}}

  <h3>Form Group That Is <code>has-error</code> Aware</h3>
  {{demo-form-group-field-errors model=model}}
</section>

<section>
  <div class="container">
    <h2>Form Component</h2>

    <h3>Form Submission With Submit-Button</h3>
    <div class="row">
      <div class="col-sm-6">
        {{#twbs-form submit=(route-action "submitForm")}}
          <button class="btn btn-default">Submit This Form</button>
        {{/twbs-form}}
      </div>
      <div class="col-sm-6">
<pre>\{{#twbs-form submit=(route-action "submitForm")}}
  &lt;button class="btn btn-default">Submit This Form&lt;/button>
  \{{/twbs-form}}
</pre>
        <p>
          <em>Notice that I'm using the clever `ember-route-action-helper` in this example. You can call
            regular component actions too.</em>
        </p>
      </div>
    </div>

    <h3>Form Reset With Reset-Button</h3>
    <div class="row">
      <div class="col-sm-6">
        {{#twbs-form reset=(route-action "resetForm")}}
          <button class="btn btn-default" type="reset">Reset This Form</button>
        {{/twbs-form}}
      </div>
      <div class="col-sm-6">
<pre>\{{#twbs-form reset=(route-action "resetForm")}}
  &lt;button class="btn btn-default">Reset This Form&lt;/button>
  \{{/twbs-form}}
</pre>
        <p>
          <em>Notice that I'm using the clever `ember-route-action-helper` in this example. You can call
            regular component actions too.</em>
        </p>
      </div>
    </div>
  </div>
</section>
{{outlet}}
